@page "/WindPower"

@using hybr.Shared.Services
<PageTitle>WindPower</PageTitle>
<div id="parent">
    <div id="grid11" class="gridContent">
        <LineChart @ref=GlobalLineChart.WindPowerChartVoltage1 Width="145" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
    <div id="grid21" class="gridContent">
        <LineChart @ref=GlobalLineChart.WindPowerChartAmperage1 Width="145" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
    <div id="grid31" class="gridContent">
        <LineChart @ref=GlobalLineChart.WindPowerChartVoltage2 Width="145" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
    <div id="grid12" class="gridContent">
        <LineChart @ref=GlobalLineChart.WindPowerChartAmperage2 Width="145" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
    <div id="grid22" class="gridContent">
        <LineChart @ref=GlobalLineChart.WindPowerChartVoltage3 Width="145" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
    <div id="grid32" class="gridContent">
        <LineChart @ref=GlobalLineChart.WindPowerChartAmperage3 Width="145" WidthUnit="Unit.Percentage" Height="100" HeightUnit="Unit.Percentage" />
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GlobalLineChart.AllPageProperty("WindPower");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}